<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Crit Club</title>
</head>
<body>
    <nav>
        <a href="/" class="navText">HOME</a>
    </nav>
    <h1>CRIT CLUB</h1>
    <h2>Login</h2>
    <form action="/login" method="POST" autocomplete="off">
        <label>Username
            <input type="text" name="username" required>
        </label><br>
        <label>Password
            <input type="password" name="password" required>
        </label><br>
        <input type="submit" value="LOGIN">
    </form>
</body>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>