<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Crit Club</title>
</head>
<body>
    <nav>
        <a href="/" class="navText">HOME</a>
        <a href="/posts" class="navText">MY POSTS</a>
        <a href="/logout" class="navText" style="float:right">LOGOUT</a>
    </nav>
    <h1>CRIT CLUB</h1>
    <h4>Create a New Post</h4>
    <form action="/posts" method="POST" autocomplete="off">
        <div class="userField">
            <label name="image">LINK AN IMAGE</label><br>
            <input type="text" name="image" placeholder="IMAGE URL">
            <input type="text" name="title" placeholder="TITLE"><br>
        </div>
        <textarea class="userField" type="text" name="description" placeholder="DESCRIPTION"></textarea><br>
            <select class="browser-default" type="text" name="medium" material_select()>
            <option value=" "> SELECT A CATEGORY </option>
            <option value="PAINTING">PAINTING</option>
            <option value="SCULPTURE">SCULPTURE</option>
            <option value="PRINTMAKING">PRINTMAKING</option>
            <option value="CERAMIC">CERAMIC</option>
            <option value="PHOTOGRAPHY">PHOTOGRAPHY</option>
            <option value="DRAWING">DRAWING</option>
        </select>
        <input class="buttons" type="submit" name="" value="UPLOAD" />
    </form>
</body>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>