<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Crit Club</title>
</head>
<body>
    <nav>
        <a href="/" class="navText">HOME</a>
        <a href="/new" class="navText">NEW POST</a>
        <a href="/logout" class="navText" style="float:right">LOGOUT</a>
    </nav>
    <h1>CRIT CLUB</h1>
    <h3>Your Work</h3>
    <ul>
        <% works.forEach(work => { %>
            <img src= <%=work.image%> ><br>
            <a href="/works/<%=work._id %>"> <%=work.title %> </a>
        <% }) %>
    </ul>
</body>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>