* {
    box-sizing: border-box;
}
body {
    margin-left: 1rem;
}

nav {
    background-color: rgb(0, 213, 228);
    display: inline-block; 
    position: sticky;
}

h1 {
    margin-top: auto;
}

.navText {
    padding-left: 15px;
    padding-right: 15px;
}