* {
    box-sizing: border-box;
}

body :not(nav){

    display: flexbox;
    list-style-type: none;
}

nav {
    background-color: rgb(0, 213, 228);
    display: flexbox; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 17px;
}

h1, h2, h3 {
    margin-top: auto;
    margin-left: 1rem;
}

.navText {
    padding-left: 15px;
    padding-right: 15px;
}

.singlePost {
    border: 3px solid rgb(0, 213, 228);
    padding: 30px;
    margin-left: 40px;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: rgb(200, 248, 252);
}